@import "../component.shared.style";

.dg-project-detail {
  .info-box {
    margin-bottom: 0;
    width: 100%;
  }
}

.dg-content-page {
  background-color: #FFF;
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}

/*---*/
.dg-content-page{
  position: relative;

  //Search
  // bar - input search
  .dg-content-inputsearch{
    border-bottom: transparent;
    padding-bottom:18px;
    margin-bottom: 12px;
  }

  .dg-content-inputsearch{
    .dg-content{
      background-color: #E3E3E5;
      border-radius: 9px;
      border: none;
      display: block;
      max-width: 90%;
      margin: 0 auto;
      padding: 6px 15px;

      & > *{
        display: inline-block;
      }
      i{
        color: #959595;
      }
      input{
        background-color: transparent;
        border: none;
        color: #7F7F7F;
        margin: 0 auto;
        width: 90%;
      }
    }
  }// end - dg-content-inputsearch
  .dg-section-search{
    margin-top: 50px;
    & > div{
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }

    .dg-content-inputsearch{
      max-width: 99%;
      min-width: 99%;
    }
    .dg-content-buttons{
      max-width: 27%;
      min-width: 27%;
      vertical-align: top;

      span{
        display: inline-block;
        margin: 0 0.6em;
      }
    }
  }// end - .dg-section-search

  .dg-content-list {
    margin-top: 18px;

    &.dg-content-listprojects,
    &.dg-content-listlote{
      .dg-col-icon {
        span {
          i {
            font-size: 2.7em;
          }
        }
      }
    }// end - dg-content-listprojects

    .dg-content-description{
      max-height: 42px;
      overflow: hidden;
      text-overflow: ellipsis;

      & > div{
        font-size: 0.81em;
        label{
          margin-bottom: 0;
        }
      }

    }

    .dg-col-icon{
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .row{
      cursor: pointer;
      padding: 1em 0.9em;
      border-bottom: 1px solid #E3E3E3;
      margin-left: 0;
      margin-right: 0;

      .dg-col-icon{
        text-align: center;
        span{
          background-color: transparent;
          display: inline-block;
          height: 30px;
          width: 30px;
        }
      }
      .dg-col-name{
        p{
          margin-bottom: 0;
          font-size:1.32em;
        }
        span{
          font-size: 0.9em;
        }
      }

      .dg-icon-arrow{
        display: inline-block;
        font-size: 1.5em;
        margin-top: 0.81em;
      }
    }// end - row

  }// end - dg-content-list

  .dg-text-link{
    background-color: transparent;
    border: none;
    color: #3c8dbc;

    &:hover{
      border-bottom: solid 1px #3c8dbc;
    }
  }// end - .dg-text-link

}// end - .dg-content-page
