/*.dg-content-svgFrame{
    background-color: transparent;
    max-height: 500px;
    width: 100%;
    overflow: scroll;
}*/

.dg-content-controls{
    padding: 1.5em 0;
}

.dg-content-controls .dg-content-btn{
    display: inline-block;
    max-width: 150px;    
}