<div
  class="row dg-content-controls dg-content-svgmap">
  <div class="col-sm-6 col-md-6 col-lg-6 dg-content-svg">
    <div>
      <div
        class="dg-content-svgFrame">
        <svg #svgTag
             id="svgTag"
             [attr.width]="imageSvg.widthContent"
             [attr.height]="imageSvg.heightContent"
             [attr.fill]="'orange'"
             (drawElements)="drawElements()"
             (mousedown)="clickInSvg($event)">

          <image x="0" y="0"
                 [attr.width]="imageSvg.widthContent"
                 [attr.height]="imageSvg.heightContent"
                 [attr.xlink:href]="imageSvg.srcB64"/>

          <polygon id="polygonTagDraw"
                   [attr.points]="stringPoints"
                   [attr.fill]="'rgba(33,144,2,0.72)'"
                   [attr.stroke]="'black'"
                   [attr.stroke-width]="'1px'">
          </polygon>
        </svg>
      </div>
    </div><!-- end  -->

    <div class="digiall-barEstate">
      <small class="label label-default">
        <i class="fa fa-clock-o"></i>
        {{descriptionActions}}

         <span>
           <i class="fa fa-square"
              style="color: rgba(33, 144, 2, 0.72);"></i>
           <label>Pintandose</label>
         </span>
          <span>
           <i class="fa fa-square"
              style="color: rgba(2, 134, 222, 0.72);"></i>
           <label>Pintado</label>
         </span>
          <span>
           <i class="fa fa-square"
              style="color: rgba(222, 2, 24, 0.72);"></i>
           <label>Seleccionado</label>
         </span>

      </small>
    </div>

  </div><!-- end - col-md-6 -->

  <div>

  </div>

  <div style="display: none;"
    class="col-sm-6 col-md-6 col-lg-6 dg-content-controls"
       *ngIf="isVisibleMenu">

    <div class="dg-section">
      <div class="dg-acotation">
       <span>
         <i class="fa fa-square text-green"></i>
         <label>Activo</label>
       </span>
        <span>
         <i class="fa fa-square text-yellow"></i>
         <label>Opción</label>
       </span>
        <span>
         <i class="fa fa-square text-red"></i>
         <label>Desactivado</label>
       </span>
      </div>
    </div>

    <div class="dg-section dg-controls">
      <div>
        <h5>
          Controles:
        </h5>
      </div>
      <div class="btn-group">
        <button type="button"
                data-widget="Aumentar" data-toggle="tooltip"
                (click)="beginDraw()"
                [ngClass]="{
                  'btn-active': isDrawing == true,
                  'btn-option': isDrawing != true,
                  'btn': 1 == 1,
                  'btn-secondary': 1 == 1
                }">
          <i class="fa fa-paint-brush"></i>
          Pintar
        </button>
        <button type="button" class="btn btn-secondary btn-inactive"
                data-widget="Aumentar" data-toggle="tooltip"
                (click)="undoLastPoint()"
                [ngClass]="{
                  'btn-option': objPolygon.arregloPuntos.length > 0,
                  'btn-inactive': objPolygon.arregloPuntos.length == 0,
                  'btn': 1 == 1,
                  'btn-secondary': 1 == 1
                }">
          <i class="fa fa-undo"></i>
          Deshacer
        </button>
        <button type="button" class="btn btn-secondary btn-paused"
                data-widget="Aumentar" data-toggle="tooltip"
                (click)="addPolygon()"
                [ngClass]="{
                  'btn-option': objPolygon.arregloPuntos.length >= 3,
                  'btn-inactive': objPolygon.arregloPuntos.length < 3,
                  'btn': 1 == 1,
                  'btn-secondary': 1 == 1
                }">
          <i class="fa fa-check-square"></i>
          Registrar
        </button>
        <button type="button" class="btn btn-secondary"
                data-widget="Aumentar" data-toggle="tooltip"
                (click)="saveSvg()"
                [ngClass]="{
                  'btn-active': isSaveSvg == true,
                  'btn-option': arrayPolygons.size > 0,
                  'btn-inactive': arrayPolygons.size == 0,
                  'btn': 1 == 1,
                  'btn-secondary': 1 == 1
                }">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div><!-- end - btn-group -->

      <br/><br/>

      <!-- Opción Borrar -->
      <div class="btn-group">
        <button type="button"
                data-target="#modal-delete-polygon"
                data-toggle="modal"
                [disabled]="!isSelectedPolygon"
                [ngClass]="{
                  'btn-option': tagPolySelected != null,
                  'btn-inactive': tagPolySelected == null,
                  'btn': 1 == 1,
                  'btn-secondary': 1 == 1
                }">
          <i class="fa fa-eraser"></i>
          Borrar
        </button>
      </div><!-- end - btn-group -->

      <!-- Modal - Borrar  -->
      <div class="modal fade" id="modal-delete-polygon"
           [style.display]="showModalDelete ? 'block' : 'none'">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Eliminar...</h4>
            </div>
            <div class="modal-body">
              <p>¿Desea eliminar el área seleccionada?</p>
            </div>
            <div class="modal-footer">
              <button type="button"
                      class="btn btn-default pull-left"
                      data-dismiss="modal">
                Cancelar
              </button>
              <button type="button"
                      class="btn btn-primary"
                      (click)="deletePolygon($event)"
                      data-dismiss="modal">
                Aceptar
              </button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <br/>

      <div class="badge badge-primary">
        <span>
          Estatus pintado:
          <label>
            {{stringStatusControls}}
          </label>
        </span>
      </div>

    </div><!-- End - content Btns-->

    <!-- zoom - controls -->
    <div class="dg-section dg-zoom">
      <div>
        <div>
          <h5>
            Zoom:
          </h5>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary"
                  data-widget="Aumentar" data-toggle="tooltip"
                  (click)="doZoomIn($event)"
                  [ngClass]="{
                    'btn-active': countZoom > 100,
                    'btn-option': countZoom <= 100,
                    'btn': 1 == 1,
                    'btn-secondary': 1 == 1
                  }">
            <i class="fa fa-search-plus"></i>
          </button>
          <button type="button" class="btn btn-secondary"
                  data-widget="Disminuir" data-toggle="tooltip"
                  (click)="doZoomOut($event)"
                  [ngClass]="{
                    'btn-active': countZoom < 100,
                    'btn-option': countZoom >= 100,
                    'btn': 1 == 1,
                    'btn-secondary': 1 == 1
                  }">
            <i class="fa fa-search-minus"></i>
          </button>
          <button type="button" class="btn btn-secondary"
                  data-widget="Quitar Zoom" data-toggle="tooltip"
                  (click)="doZoomReset($event)"
                  [ngClass]="{
                    'btn-active': countZoom == 100,
                    'btn-option': countZoom != 100,
                    'btn': 1 == 1,
                    'btn-secondary': 1 == 1
                  }">
            <i class="fa fa-dot-circle-o"></i>
          </button>
        </div>
        <div>
          <span class="badge badge-primary">
            Estatus zoom:
            <label>
              {{stringStatusZoom}}
            </label>
          </span>
        </div>
      </div>
    </div><!-- end - zoom - controls -->

    <!-- buttons - forms -->
    <div class="dg-section dg-callforms">
      <div>
        <div>
          <h5>
            Opciones Sección:
          </h5>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default"
                  data-widget="Aumentar" data-toggle="tooltip"
                  (click)="doZoomIn($event)"
                  [ngClass]="{
                    'btn-option':  tagPolySelected != null,
                    'btn-inactive': tagPolySelected == null,
                    'btn': 1 == 1,
                    'btn-secondary': 1 == 1
                  }">
            <i class="fa fa-map"></i>
            Ingresar datos / proyecto
          </button>
          <button type="button" class="btn btn-default"
                  data-widget="Aumentar" data-toggle="tooltip"
                  (click)="doZoomIn($event)"
                  [ngClass]="{
                    'btn-option':  tagPolySelected != null,
                    'btn-inactive': tagPolySelected == null,
                    'btn': 1 == 1,
                    'btn-secondary': 1 == 1
                  }">
            <i class="fa fa-product-hunt"></i>
            Ingresar datos / producto
          </button>
        </div>
        <div>
          <span class="badge badge-primary">
            Estatus elemento seleccionado:
            <label>
              {{stringStatusSections}}
            </label>
          </span>
        </div>
      </div>
    </div><!-- end - opciones formulario -->
  </div><!-- end col-md-6 -->
</div><!-- end - row -->
