.dg-content-svgmap
  .dg-content-svg
    .dg-content-svgFrame
      background-color: #6d6d6d
      border: solid 1px #000
      max-width: 100%
      max-height: 500px
      overflow: hidden
      text-align: center

      svg
        display: inline-block

  .dg-content-controls
    .dg-content-btn
      display: inline-block
      max-width: 150px
      margin-right: 0
      span
        a
          border-bottom: 1px solid #D2E0E6
          display: block


