<div class="content">
  <div class="box" *ngIf="proyecto">
    <div class="box-header with-border">
        <h3 class="box-title">Mapa de proyecto</h3>
    </div>
    <div class="box-body">
      <h3 class="box-title">{{proyecto.nombre}}</h3>
      <p>{{proyecto.descripcion}}</p>
      <div class="pull-right">
        <i class="fa fa-arrow-left" 
          (click)='navegarAlProyecto(proyecto.padreId)'
          *ngIf="proyecto">
        </i>
      </div>

      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" *ngIf="!svg">
          <input
            class="btn btn-outline-primary btn-sm"
            type="file"
            (change)="uploadImage($event);"/>
          <button type="button" class="btn btn-default" [disabled]="!image" (click)="reiniciarCarga()">
            cancelar
          </button>
          <button type="button" class="btn btn-primary" [disabled]="!image" (click)="generarSvgDesdeImagen()">
            continuar
          </button>
        </div>
        <div class="btn-group mr-2" *ngIf="svg">
          <button type="button" class="btn btn-default" (click)="beginDraw()" [class.active]="isDrawing">
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <button type="button" class="btn btn-default" (click)="stopDraw()" [class.active]="!isDrawing">
            <i class="fa fa-hand-paper-o"></i>
          </button>
        </div>
        <div class="btn-group mr-2" *ngIf="svg">
          <button type="button" class="btn btn-default" (click)="undoPoint()" [class.disabled]="!isDrawing">
            <i class="fa fa-undo"></i>
          </button>
          <button type="button" class="btn btn-default" [class.disabled]="!poligonoUUIDSeleccionado"
            data-toggle="modal" data-target="#confirmarBorrarPoligonoModal">
            <i class="fa fa-trash"></i>
          </button>
        </div>
        <div class="btn-group mr-2" *ngIf="svg">
          <button type="button" class="btn btn-default" 
            data-toggle="modal" data-target="#ligarIdSeccionModal"
            (click)="linkPolygon()"
            [class.disabled]="!poligonoUUIDSeleccionado">
            <i class="fa  fa-link"></i>
          </button>
        </div>
        <div class="btn-group" *ngIf="svg">
          <button type="button" class="btn btn-default" (click)="saveSvg()">
            <i class="fa fa-save"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="svg_workspace" #workSpace id="workSpace">
    <div *ngIf="image && !svg">
      <img #imgPreview
        src={{image.srcB64}}
        (load)="loadImagePreview($event)"
        alt=""/>
    </div>
    <svg #svgTag *ngIf="svg"
          id="svgTag"
          [attr.width]="workSpace.clientWidth"
          [attr.height]="workSpace.clientHeight" style="background-color: white;"
          (mousedown)="clickInSvg($event)">

      <image 
        [attr.width]="svg.width"
        [attr.height]="svg.height"
        [attr.xlink:href]="svg.imagen" />

        <polygon id="polygonTagDraw"
          [attr.points]="stringPoints"
          [attr.fill]="'rgba(33,144,2,0.72)'"
          [attr.stroke]="'black'"
          [attr.stroke-width]="'1px'">
        </polygon>

        <polygon *ngFor="let poligono of svg.poligonos"
          [attr.points]="poligono.puntos"
          [attr.fill]="poligonoColorFondo(poligono.genUid)"
          [attr.stroke]="'black'"
          [attr.stroke-width]="'1px'"
          (click)="poligonoSeleccionado(poligono.genUid)">
        </polygon>
    </svg>
  </div>
</div>

<!-- Ventana modal para borrar un poligono-->
<div class="modal fade" tabindex="-1" role="dialog" id="confirmarBorrarPoligonoModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="poligonoUUIDSeleccionado">
      <div class="modal-header">
        <h5 class="modal-title">Borrar Polígono</h5>
        <button type="button" class="close" data-dismiss="modal" aria-Label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Realmente deseas borrar el polígono?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal"
          (click)="deletePolygon()">Borrar Polígono</button>
      </div>
    </div>
  </div>
</div>

<!-- Ventana modal para agregar un subproyecto-->
<div class="modal fade" tabindex="-1" role="dialog" id="ligarIdSeccionModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="poligonoUUIDSeleccionado && (subproyectos || productos)">
      <div class="modal-header">
        <h5 class="modal-title">Ligar Área</h5>
        <button type="button" class="close" data-dismiss="modal" aria-Label="Close"
          (click)="cancelarLigaDelPoligono()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Tipo</th>
              <th>Nombre</th>
              <th>Ligado</th>
              <th>Ligar</th>
            </tr>
            <tr *ngFor="let proyecto of subproyectos">
              <td>
                <span class="badge bg-grey">
                  subproyecto
                </span>
              </td>
              <td>
                  {{proyecto.nombre}}
              </td>
              <td>
                <span class="badge bg-green" *ngIf="proyecto.idSeccion">
                  <i class="fa fa-link"></i>
                </span>
                <span class="badge bg-red" *ngIf="!proyecto.idSeccion">
                  <i class="fa fa-unlink"></i>
                </span>
              </td>
              <td>
                <button type="button" class="btn btn-link" 
                  *ngIf="!subproyectoALigar || subproyectoALigar.id != proyecto.id"
                  (click)="configurarSubProyectoALigar(proyecto)">
                  Ligar
                </button>
                <span class="badge bg-green" *ngIf="subproyectoALigar && subproyectoALigar.id == proyecto.id">
                  <i class="fa fa-check"></i>
                </span>
              </td>
            </tr>
            <tr *ngFor="let producto of productos">
              <td>
                <span class="badge bg-orange">
                  producto
                </span>
              </td>
              <td>
                  {{producto.nombre}}
              </td>
              <td>
                <span class="badge bg-green" *ngIf="producto.idSeccion">
                  <i class="fa fa-link"></i>
                </span>
                <span class="badge bg-red" *ngIf="!producto.idSeccion">
                  <i class="fa fa-unlink"></i>
                </span>
              </td>
              <td>
                <button type="button" class="btn btn-link" 
                  *ngIf="!productoALigar || productoALigar.id != producto.id"
                  (click)="configurarProductoALigar(producto)">
                  Ligar
                </button>
                <span class="badge bg-green" *ngIf="productoALigar && productoALigar.id == producto.id">
                  <i class="fa fa-check"></i>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
          (click)="cancelarLigaDelPoligono()">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          [disabled]="!subproyectoALigar && !productoALigar"
          (click)="cambiarLigaDelPoligono()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<!-- Fin ventana modal para agregar un subproyecto-->
