.dg-content-page {
  background-color: #FFF;
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;

  &.dg-page-valores {
    .dg-content-values {
      margin-top: 1.5em;
      .dg-row {
        margin-bottom: 1em;

        & > span {
          display: block;
          text-align: center;
        }

        .dg-lbl {
          color: #666666;
          font-size: 1.12em;
        }

        .dg-value {
          color: #232a85;
          font-size: 1.41em;
          font-weight: bold;
        }
      }
    } // end - dg-content-values
  }

  // bar - dg-content-bartitle
  .dg-content-bartitle{
    backgrond-size:contain;
    background-repeat: repeat-x;
    padding: 18px 0 30px 0;

    .row{
      max-width: 600px;
      margin: 0 auto;
    }

    .dg-content-icon{
      text-align: right;
      span{
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        height: 25px;
        width: 25px;
      }
    }// end - .dg-content-icon
    .dg-content-info{
      p{
        margin-bottom: 0px;
      }

      .dg-row-text1{
        font-size: 1.11em;
        font-weight: bolder;
        text-transform: uppercase;
      }
      .dg-row-text2{
        font-size: 0.9em;

        label, span{
          display: inline-block;
          vertical-align: middle;
        }
        label{
          max-width: 100px;
          min-width: 100px;
        }
        span{
          display: inline-block;
          margin-right: 6px;
        }
      }
      .dg-row-text3{
        font-size: 0.9em;
      }
    }// end - .dg-content-info

    &.dg-bartitle-2{
      background-image:url('../../../../../assets/img/line-bartitle-2.png');
      padding-bottom: 9px;
      .dg-content-info{
        color: #FFF;
      }
      .dg-content-icon{
        span{
          i{
            color: #FFF;
            font-size: 2.1em;
          }
        }
      }
    }// dg-bartitle2

    &.dg-bartitle-client{
      border-bottom: solid 1px #76828A;
      .dg-content-info{
        color: #76828A;
      }
      i{
        color: #222d32;
        font-size: 2.1em;
      }
    }
  }// end - .dg-content-bartitle

  .dg-info-bloqueo{
    font-size: 1.21em;
    margin: 1.5em 0;
    text-align: center;
  }// end - .dg-info-bloqueo

  .dg-modal-msg{
    .modal-dialog{
      .modal-content{
        border-radius: 21px;
        max-width: 480px;
        margin: 0 auto;

        .modal-body{
          padding: 0.5em 1em;
        }

        .modal-footer{
          .dg-content-btns{
            min-width: 250px;
            max-width: 250px;
            margin: 0 auto;
          }
        }

      }// end - .modal-content
    }// end - .modal-dialog
  }// end - .dg-modal-msg

  .dg-head-back{
    padding: 1em;
    position: relative;
    span{
      cursor: pointer;
      display: inline-block;
      height: 27px;
      i{
        color: #325DC0;
        cursor: pointer;
        font-size: 2.1em;
      }
    }
    .dg-title-section{
      color: #222d32;
      font-size: 1em;
      right: 9px;
      position: absolute;
      text-align: right;
      top: 21px;
    }
  } // end - .dg-head-back

  .dg-content-btn{
    text-align: center;
    padding: 2em 0;
  }
  .dg-content-btns{
    .row{
      margin-bottom: 1em;
      & > div{
        text-align: center;
      }
    }
  }

  .dg-btn{
    background-repeat: repeat-x;
    background-size: contain;
    border-radius: 15px;
    border: none;
    color: #FFF;
    font-size: 0.9em;
    font-weight: bolder;
    padding: 6px 3px;
    width: 120px;
    text-transform: uppercase;
    &:focus{
      outline:0px;
    }
  }
  .dg-btn-blue{
    background-color:blue;
    background-image:url('../../../../../assets/img/line-back-buttonBlue.png');
  }
  .dg-btn-orange{
    background-color:orange;
    background-image:url('../../../../../assets/img/line-back-buttonOrange.png');
  }
  .dg-btn-green{
    background-color:green;
    background-image:url('../../../../../assets/img/line-back-buttonGreen.png');
  }

  .dg-input{
    background-color: #E2E2E2;
    border: none;
    color: #232a85;
    font-weight: bold;
    padding: 0.5em 1.5em;
  }

  .dg-input-dias{
    min-width: 90px;
    max-width: 90px;
  }// end - .dg-input-dias

  .dg-dupla{
    text-align: center;
    .dg-lbl{
    }
    .dg-value{
    }
  }// end - .dg-dupla

  .dg-text-link{
    background-color: transparent;
    border: none;
    color: #2A55BD;
    font-size: 0.9em;
    text-transform: uppercase;
    text-decoration: underline;
  } // end - dg-text-link

}// end - content-page
