.dg-content-page{

  background-color: #FFF;
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;

  &.dg-page-priceslote{
    .dg-content-infoclient{
      min-height: calc(100vh - 441px);
      max-height: calc(100vh - 441px);
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .dg-content-lineprice{
    }
    .dg-content-btnlink{
      margin-top: 2em;
      margin-bottom: 1em;
      text-align: center;
      button{
        display: inline-block;
        max-width: 120px;
        min-width: 120px;
        vertical-align: middle;

        &:nth-of-type(1){
          margin-right: 0.81em;
        }
        &:nth-of-type(2){
          margin-left: 0.81em;
        }
      }
    }// end - .dg-content-btnlink

    .dg-content-btns{
      margin-top: 1.5em;

      .dg-content-button{
        text-align: center;
        .dg-btn{
          display: inline-block;

          &:nth-of-type(1){
            margin-right: 0.81em;
          }
          &:nth-of-type(2){
            margin-left: 0.81em;
          }
        }
      }
    }
  }// end - dg-page-priceslote

  .dg-head-back{
    min-height: 50px;
    max-height: 50px;
    padding: 0.72em 1em;
    span{
      i{
        color: #325DC0;
        font-size: 2.1em;
      }
    }

    .dg-content-button{
      float: right;
      margin-top: 0.5em;
    }

  }

  // Botones
  .dg-btn{
    background-repeat: repeat-x;
    background-size: contain;
    border-radius: 15px;
    border: none;
    color: #FFF;
    font-size: 0.9em;
    font-weight: bolder;
    padding: 8px 6px;
    width: 120px;
    text-transform: uppercase;
  }
  .dg-btn-orange{
    background-color:orange;
    background-image:url('../../../../assets/img/line-back-buttonOrange.png');
  }
  .dg-btn-green{
    background-color:green;
    background-image:url('../../../../assets/img/line-back-buttonGreen.png');
  }

  .dg-btn-blue{
    background-color:blue;
    background-image:url('../../../../assets/img/line-back-buttonBlue.png');
  }

  // bar - dg-content-bartitle
  .dg-content-bartitle{
    background-size:contain;
    background-repeat: repeat-x;
    padding: 18px 0 30px 0;

    &.dg-bartitle-2{
      background-image:url('../../../../assets/img/line-bartitle-2.png');
      padding-bottom: 9px;
      min-height: 100px;
      max-height: 100px;
      .dg-content-icon{
        span{
          i{
            color: #FFF;
            font-size: 2.1em;
          }
        }
      }
      .dg-content-cuadro{
        background-color: #EEEEEF;
        display: inline-block;
        min-height: 63px;
        min-width: 63px;
      }
    }

    .dg-content-icon{
      text-align: right;
      span{
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        height: 25px;
        width: 25px;
      }
    }// end - .dg-content-icon
    .dg-content-info{
      color: #FFF;

      p{
        margin-bottom: 0;
      }

      .dg-row-text1{
        font-size: 1.26em;
        font-weight: bolder;
        text-transform: uppercase;
      }
      .dg-row-text2{
        font-size: 0.9em;
      }
      .dg-row-text3{
        font-size: 0.9em
      }
    }
  }// end - .dg-content-bartitle

  .dg-content-lineprice{
    background-color: #E2E2E2;
    padding: 1em 0;
    text-align: center;

    span{
      color: #222A85;
      font-weight: bold;
      font-size: 2em;
    }
  }

  .dg-text-link{
    background-color: transparent;
    border: none;
    color: #2A55BD;
    font-size: 0.9em;
    text-transform: capitalize;
    text-decoration: underline;
  } // end - dg-text-link

  .dg-content-infoclient{
    .dg-content-button{
      margin: 1.5em 0;
      text-align: center;
      .btn{
        background-color: #3c8dbc;
        color: #FFF;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  .dg-info-client{
    background-color: #FFF;
    max-width: 600px;
    margin: 0 auto;
    padding: 1.5em 0;

    .row{
      padding: 0;
      margin-bottom: 0;

      label{
        margin-bottom: 0;
      }

      & > div {
        &:nth-of-type(1){
          text-align: right;
        }
        &:nth-of-type(2){
          text-align: left;
        }
      }

      label{
        color: #76828A;
        font-size: 1.2em;
      }
      span{
        color: #919AA0;
        font-size: 1.2em;
      }
    }

    .dg-btn-changeclient{
      text-align: center;
    }
  }// end - dg-info-client

} // end - dg-content-page

.dg-input{
  background-color: #E2E2E2;
  border: none;
  color: #232a85;
  font-weight: bold;
  padding: 0.5em 1.5em;
}

.dg-input-dias{
  min-width: 156px;
  max-width: 156px;
}// end - .dg-input-dias
.dg-input-monto{
  min-width: 159px;
  max-width: 159px;
}

.modal-backdrop {
  z-index: 100 !important;
}// end - .modal-backdrop

.dg-modal-msg{
  .modal-dialog{
    .modal-content{
      border-radius: 21px;
      max-width: 480px;
      margin: 0 auto;

      .modal-body{
        padding: 0.5em 1em;
      }

      .modal-footer{
        .dg-content-btns{
          min-width: 250px;
          max-width: 250px;
          margin: 0 auto;
        }
      }

    }// end - .modal-content
  }// end - .modal-dialog
}// end - .dg-modal-msg
