<div class="content">

  <div class="dg-page-nav-bar">
    <div class="nav-bar-left">
      <button class="btn btn-link pull-left" routerLink="../" *ngIf="!cliente_id">
        <i class="glyphicon glyphicon-chevron-left"></i>
      </button>
      <button class="btn btn-link pull-left" routerLink="../../" *ngIf="cliente_id">
        <i class="glyphicon glyphicon-chevron-left"></i>
      </button>
    </div>
    <div class="nav-bar-center">
    </div>
    <div class="nav-bar-right">
      <button class="btn btn-link pull-right" *ngIf="!cliente_id" data-toggle="modal" data-target="#asignarClienteModal">
        asignar cliente
      </button>
      <button class="btn btn-link pull-right" *ngIf="cliente_id" data-toggle="modal" data-target="#asignarClienteModal">
        modificar cliente
      </button>
    </div>
  </div>

  <!-- animación de loaging-->
  <div class="dg-content-loading" style="min-height: inherit; max-height: inherit;" *ngIf="!producto">
    <app-loading style="min-height: inherit; max-height: inherit;">
    </app-loading>
  </div>

  <div class="adquirir-producto-container" *ngIf="producto">

    <div class="producto-bartitle">
      <div class="row">
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
          <div style="width: 100%">
              <span><i class="fa fa-flag pull-right" style="color: #FFF; font-size: 2.1em;"></i></span>
          </div>
        </div>
        <div class="col-sm-9 col-xs-9 col-md-9 col-lg-9" *ngIf="producto.nombre">
          <div class="producto-bartitle-info">
            <div class="dg-row-text1">
              {{producto.nombre}}
            </div>
            <div class="dg-row-text2">
                <div *ngFor="let valor of producto.valoresCampos">
                  <div *ngIf="valor.nombre && valor.nombre === 'M2'">
                    {{valor.valor}} <span>m2</span>
                  </div>
                </div>
            </div>
            <div class="dg-row-text3">
            </div>
          </div>
        </div>
      </div>
    </div><!-- end producto-bartitle -->


    <div class="adquirir-producto-cliente-asignado">

    </div><!-- end adquirir-producto-cliente-asignado-->


    <div class="producto-bar-precio">
      <span>
        {{producto.precio | currency:'MXN'}}
      </span>
    </div><!-- end producto bar precio-->

    <!-- mensaje cuando no hay cliente asignado-->
    <div class="adquirir-producto-botones" *ngIf="!cliente_id">
      <div style="width: 100%; margin-top: 20px; text-align: center">
        <h5>Debes asignar un cliente</h5>
      </div>
    </div>
    <!-- mensaje cuando no hay cliente asignado-->

    <div class="adquirir-producto-botones" *ngIf="cliente_id">
      <div class="container">
        <div class="dg-rows-wrapper">
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div style="text-align: center">
                <button type="button" class="btn btn-link">
                  bloquear
                </button>
              </div>
            </div>
            <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div style="text-align: center">
                <button type="button" class="btn btn-link">
                  corrida
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div style="text-align: center">
                <button type="button" class="dg-btn dg-btn-orange">
                  apartar
                </button>
              </div>
            </div>
            <div class="col-6 col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div style="text-align: center">
                <button type="button" class="dg-btn dg-btn-green">
                  vender
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end adquirir-producto-botones-->

  </div><!-- end adquirir-producto-container-->

</div><!-- end - dg-page-priceslote -->

<!-- Asignar cliente Modal -->
<div class="modal fade" id="asignarClienteModal" tabindex="-1" role="dialog" aria-labelledby="asignarClienteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
