.page-title-wrapper {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  color: #FE6C5B !important;
}

.navbar {
  background-color: #E5E5E5 !important;
}

.sidebar-toggle {
  color: #FE6C5B !important;
}
