<div>
  <div class="dg-proyectos-navbar">
    <button class="btn btn-default pull-left" *ngIf="shouldShowGoBack()" (click)="navegarAnterior()">
      <i class="glyphicon glyphicon-chevron-left"></i>
    </button>
    <ol class="breadcrumb pull-right" *ngIf="obtenerPiladeProyectos().length > 0">
      <li (click)="navegarAlInicio()" class="breadcrumb-item">
        Inicio
      </li>
      <li *ngFor="let project of obtenerPiladeProyectos()"
          class="breadcrumb-item">
        <a (click)="navegarEspecifico(project)">
          {{ project.nombre }}
        </a>
      </li>
    </ol>
  </div>
</div>
<div #workingAreaSpace id="workingAreaSpace" class="content">
  <div *ngIf="svg && svg.imagen">
    <!-- <img [src]="'data:' + svg.imagenContentType + ';base64,' + svg.imagen"
         alt="{{obtenerNombreDelProyectoDesplegado()}} svg image"/> -->
    <!-- <app-svg [imageSvg]="svg_tool_image"></app-svg> -->
    <svg #svgTag id="svgTag"
         [attr.width]="workingAreaSpace.clientWidth - 30"
         [attr.height]="workingAreaSpace.clientHeight">
      <svg:image [attr.width]="svg.width" [attr.height]="svg.height" [attr.xlink:href]="svgImage()" />
      <svg:polygon *ngFor="let poligono of svg.poligonos" [attr.points]="poligono.puntos" fill="#0000FF99"
      (click)="navigateToItem(poligono.genUid)" />
    </svg>
  </div>

  <div *ngIf="!svg">
    <div class="row" *ngFor="let proyecto of proyectos" (click)="entrarAProyecto(proyecto)">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="info-box">
          <span class="info-box-icon"><i class="glyphicon glyphicon-map-marker"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">{{proyecto.nombre}}</span>
            <span class="info-box-number">{{proyecto.description}}</span>
            <span class="info-box-more"><i class="glyphicon glyphicon-chevron-right"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
