@media (max-width: 1024px) {
  .content {
    height: 80%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 150px;
    overflow-y: auto !important;
    padding-top: 0;
    padding-bottom: 0;
  }
}
