@media (max-height: 1024px) {
  .content {
    min-height: 81vh;
    max-height: 81vh;
  }
}

@media (max-height: 960px) {
  .content {
    min-height: 78vh;
    max-height: 78vh;
  }
}

@media (max-height: 812px) {
  .content {
    min-height: 75vh;
    max-height: 75vh;
  }
}

@media (max-height: 736px) {
  .content {
    min-height: 72vh;
    max-height: 72vh;
  }
}

@media (max-height: 667px) {
  .content {
    min-height: 69vh;
    max-height: 69vh;
  }
}

@media (max-height: 414px) {
  .content {
    min-height: 53vh;
    max-height: 53vh;
  }
}

@media (max-height: 375px) {
  .content {
    min-height: 51vh;
    max-height: 51vh;
  }
}

@media (max-width: 1024px) {
  .content {
    width: 100%;
    // position: absolute;
    left: 0;
    top: 0;
    margin-top: 50px;
    overflow-y: auto !important;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .content {
    width: 100%;
    left: 0;
    top: 0;
    margin-top: 50px;
    overflow-y: auto !important;
    padding-top: 0;
    padding-bottom: 0;
  }
}
