.content {
  min-height: calc(100vh - 150px);
  max-height: calc(100vh - 150px);
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  overflow-y: auto !important;
  padding-top: 0;
  padding-bottom: 0;
}

.dg-page-navbar {
  min-height: 50px;
  max-height: 50px;
}

.dg-project-detail {
  min-height: 100px;
  max-height:100px;
}
