<div>
  <div class="dg-page-navbar">
    <button class="btn btn-default pull-left" *ngIf="this.routeToReturn" (click)="navegarAnterior()">
      <i class="glyphicon glyphicon-chevron-left"></i>
    </button>
  </div>
</div>

<div class="dg-content-page dg-page-priceslote">
  <div class="dg-content-bartitle dg-bartitle-2"
       *ngIf="producto">
    <div class="row">
      <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
        <div class="dg-content-icon">
            <span>
              <i class="fa fa-flag"></i>
            </span>
        </div>
      </div>
      <div class="col-sm-9 col-xs-9 col-md-9 col-lg-9"
           *ngIf="producto && producto.nombre">
        <div class="dg-content-info">
          <p class="dg-row-text1">
            {{producto.nombre}}
          </p>
          <p class="dg-row-text2">
            {{producto.precio | currency:'MXN' }}
          </p>
          <p class="dg-row-text3">
          </p>
        </div>
      </div>
    </div>
  </div><!-- dg-content-bartitle -->
</div><!-- end - dg-content-page -->

<div class="dg-content"
     #content
     *ngIf="producto">
  <slideshow [height]="(content.clientHeight / 2) + 'px'"
             [minHeight]="(content.clientHeight / 2) + 'px'"
             [autoPlay]="true"
             [showArrows]="true"
             [imageUrls]="images"
             [lazyLoad]="images?.length > 1"
             [autoPlayWaitForLazyLoad]="true">
  </slideshow>

  <div class="dg-producto-detalle-wrapper" [style.height]="(content.clientHeight / 2) + 'px'">

    <div class="row" *ngIf="producto && producto.valoresCampos && producto.valoresCampos.length > 0">
      <div *ngFor="let valorCampo of producto.valoresCampos">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="info-box">
          <span class="info-box-icon" style="background-color: white !important;">
            <img [src]="image_resource_url_base + 'archivo/' + valorCampo.icono" style="max-width: 45px;" alt=""/>
          </span>

            <div class="info-box-content">
              <span class="info-box-text">{{valorCampo.nombre}}</span>
              <span class="info-box-text">{{valorCampo.valor}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>
    </div>

  </div>
</div>
