@import "../component.shared.style";

.dg-project-detail {
  .info-box {
    width: 100%;
    margin-bottom: 0;
  }
}

.dg-producto-detalle-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto !important;
}

.content {
  min-height: calc(100vh - 250px);
  max-height: calc(100vh - 250px);
  overflow-y: hidden !important;
}
