@import "../component.shared.style";

.producto-container {
  min-height: calc(100vh - 180px);
  max-height: calc(100vh - 180px);
  overflow-y: auto;
  overflow-x: hidden;
}

.producto-bartitle {
  padding: 15px;
  background-size:contain;
  //background-repeat: repeat-x;
  padding: 18px 0 30px 0;
  min-height: 100px;
  max-height: 100px;
  // background-image:url('../../../../assets/img/line-bartitle-2.png');
  background-image: linear-gradient(to right, #DD4259, #E46254);

  .producto-bartitle-info {
    color: #FFF;

    p {
      margin-bottom: 0px;
    }

    .dg-row-text1 {
      font-size: 1.26em;
      font-weight: bolder;
      text-transform: uppercase;
    }
    .dg-row-text2 {
      font-size: 0.9em;
    }
    .dg-row-text3 {
      font-size: 0.9em
    }
  }
}

.producto-body {
  min-height: calc(100vh - 280px);
  max-height: calc(100vh - 280px);
  overflow: hidden;

  .slideshow-holder {
    min-height: calc((100vh - 280px)/2);
    max-height: calc((100vh - 280px)/2);
    overflow: hidden;
  }

  .descripcion-producto {
    min-height: calc((100vh - 280px)/2);
    max-height: calc((100vh - 280px)/2);
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;

    .info-box {
      box-shadow: none;
      margin-bottom: 0;
      width: 100%;

      .info-box-icon{
        display: inline-block;
        float: none;
        vertical-align: middle;
      }

      .info-box-content{
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
        max-width: 180px;
      }
    }
  }
}
