<div class="content">
  <div class="dg-content-page dg-page-form">
    <div class="dg-head-back">
      <span [routerLink]="returnTo">
        <i class="fa fa-angle-left"></i>
      </span>
    </div>

    <div class="dg-content-btns">
      <div class="dg-content-btnlink">
        <span>
          <a class="dg-text-link">
            Cancelar
          </a>
        </span>
      </div>
      <div class="dg-content-btnlink">
        <span>
          <a class="dg-text-link">
            Guardar
          </a>
        </span>
      </div>
    </div>

    <div class="dg-content-form">
      <form action="">
        <div class="dg-control">
          <input type="text"
                 placeholder="Nombre" />
        </div>
        <div class="dg-control">
          <input type="text"
                 placeholder="Apellidos" />
        </div>
        <div class="dg-control">
          <input type="text"
                 placeholder="Dirección" />
        </div>
        <div class="dg-control">
          <input type="number"
                 placeholder="Teléfono" />
        </div>
        <div class="dg-control">
          <input type="email"
                 placeholder="Email" />
        </div>
        <div class="dg-control dg-control-date">
          <label >
            Fecha de nacimiento
          </label>
          <span>
            <input type="date"
                   placeholder="Nombre" />
            <i class="fa fa-calendar">
            </i>
          </span>
        </div>
      </form>
    </div>
  </div><!-- end - dg-page-form -->
</div>
