<div class="content">
  <div class="dg-content-page dg-page-form">
    <div class="dg-head-back">
      <span [routerLink]="returnTo">
        <i class="fa fa-angle-left"></i>
      </span>
    </div>

    <div class="dg-content-form">
      <form name="form"
            #f="ngForm"
            (ngSubmit)="f.form.valid && saveClient(f)" >

        <div class="dg-content-btns">
          <div class="dg-content-btnlink">
            <span>
              <button class="dg-text-link"
                      [routerLink]="returnTo">
                Cancelar
              </button>
            </span>
          </div>
          <div class="dg-content-btnlink">
            <span>
              <button type="submit" class="dg-text-link">
                Guardar
              </button>
            </span>
          </div>
        </div>

        <div class="dg-control">
          <input type="text"
                 placeholder="Nombre"
                 name="nombre"
                 [(ngModel)]="client.nombre"
                 #nombre="ngModel" required />

          <div *ngIf="f.submitted && !nombre.valid"
               class="help-block">
            El campo Nombre es requerido
          </div>
        </div>
        <div class="dg-control">
          <input type="text"
                 placeholder="Apellidos"
                 name="apellidos"
                 [(ngModel)]="client.apellidos"
                 #apellidos="ngModel" required />

          <div *ngIf="f.submitted && !apellidos.valid"
               class="help-block">
            Apellidos son requeridos
          </div>
        </div>
        <div class="dg-control">
          <input type="text"
                 placeholder="Dirección"
                 name="direccion"
                 [(ngModel)]="client.direccion"
                 #direccion="ngModel" />

          <!--div *ngIf="f.submitted && !direccion.valid"
               class="help-block">
            La dirección es requerida
          </div-->
        </div>
        <div class="dg-control">
          <input type="number"
                 placeholder="Teléfono"
                 name="telefono"
                 [(ngModel)]="client.telefono"
                 #telefono="ngModel" required />
          <div *ngIf="f.submitted && !telefono.valid"
               class="help-block">
            Teléfono es requerido
          </div>
        </div>
        <div class="dg-control">
          <input type="email"
                 placeholder="Email"
                 name="email"
                 [(ngModel)]="client.email"
                 #email="ngModel" required />
          <div *ngIf="f.submitted && !email.valid"
               class="help-block">
            Email requerido
          </div>
        </div>
        <div class="dg-control dg-control-date">
          <label >
            Fecha de nacimiento
          </label>
          <span>
            <input type="date"
                   placeholder="Nombre"
                   name="fechaNacimiento"
                   [(ngModel)]="client.fechaNacimiento"
                   #fechaNacimiento="ngModel" />
            <i class="fa fa-calendar">
            </i>
            <!--div *ngIf="f.submitted && !email.valid"
                 class="help-block">
              Fecha de nacimiento obligatoria
            </div-->
          </span>
        </div>
      </form>
    </div><!-- end - dg-content-form -->
  </div><!-- end - dg-page-form -->
</div><!-- end - content -->
