@import "../component.shared.style";

.cliente-contrato-container {
  min-height: calc(100vh - 180px);
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

.dg-info-client {
  background-color: #FFF;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  .btn-link {
    color: #FE6C5B !important;
  }
}

.dg-info-contrato {
  padding: 0px;
}

.info-box {
  box-shadow: 0 0 0 0;
}
