<div class="content">

  <div class="dg-content-page dg-page-listapersonas">
    <div class="dg-head-back">
    <span>
      <i class="fa fa-angle-left"></i>
    </span>
    </div>

    <div class="dg-section-search">
      <div class="dg-content-inputsearch">
        <div class="dg-content">
            <i class="fa fa-search"></i>
            <input type="text"
                   placeholder="Buscar" />
        </div>
      </div>
      <div class="dg-content-buttons">
        <span>
          <a class="dg-text-link">
            Agregar
          </a>
        </span>
      </div>
    </div><!-- end - dg-section-search -->

    <div class="dg-content-list dg-content-listapersonas">
      <div class="row">
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
          <div class="dg-col-icon">
          <span>
            <i class="fa fa-user"></i>
          </span>
          </div>
        </div>
        <div class="col-sm-9 col-xs-9 col-md-9 col-lg-9">
          <div class="dg-col-name">
            <p>
              Abelardo Peña
            </p>
            <span>
          </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
          <div class="dg-col-icon">
          <span>
            <i class="fa fa-user"></i>
          </span>
          </div>
        </div>
        <div class="col-sm-9 col-xs-9 col-md-9 col-lg-9">
          <div class="dg-col-name">
            <p>
              Andrea Gómez
            </p>
            <span>
          </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
          <div class="dg-col-icon">
          <span>
            <i class="fa fa-user"></i>
          </span>
          </div>
        </div>
        <div class="col-sm-9 col-xs-9 col-md-9 col-lg-9">
          <div class="dg-col-name">
            <p>
              Bernardo Garcia
            </p>
            <span>
          </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
          <div class="dg-col-icon">
          <span>
            <i class="fa fa-user"></i>
          </span>
          </div>
        </div>
        <div class="col-sm-9 col-xs-9 col-md-9 col-lg-9">
          <div class="dg-col-name">
            <p>
              Carlos Cuéllar
            </p>
            <span>
          </span>
          </div>
        </div>
      </div>
    </div><!-- end - dg-content-list -->
  </div><!-- end - dg-page-listapersonas -->

  <div>
    <app-add-client></app-add-client>
  </div><!-- end - content-formAddClient -->

</div><!-- end - content -->
