<div class="content dg-content">

  <!-- Section Loading -->
  <div class="dg-content-loading"
       style="min-height: inherit;
              max-height: inherit;"
       *ngIf="loading">
    <app-loading
      style="min-height: inherit;
            max-height: inherit;">
    </app-loading>
  </div>
  <!-- end - section loading -->

  <div class="dg-content-page dg-page-listapersonas">
    <div class="dg-section-search">
      <div class="dg-content-inputsearch">
        <div class="dg-content">
            <i class="fa fa-search"></i>
            <input type="text"
                   placeholder="Buscar"
                   id="txtSearch"
                   #txtSearch
                   name="txtSearch"
                   [(ngModel)]="inputSearch" (keyup)="inputTextSearch(txtSearch.value)" />
        </div>
      </div>
      <div class="dg-content-buttons">
        <span>
          <button routerLink="add"
                  class="dg-text-link"
                  (click)="agregarCliente()" >
            Agregar
          </button>
        </span>
      </div>
    </div><!-- end - dg-section-search -->

    <div class="dg-content-list dg-content-listapersonas"
      *ngIf="clients !== null" >

      <div class="row"
           *ngFor="let client of clients;"
           (click)="clickOnClient(client)">
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
          <div class="dg-col-icon">
          <span>
            <i class="fa fa-user"></i>
          </span>
          </div>
        </div>
        <div class="col-sm-9 col-xs-9 col-md-9 col-lg-9">
          <div class="dg-col-name">
            <p>
              {{client.nombre}} {{client.apellidos}}
            </p>
            <span>
          </span>
          </div>
        </div>
      </div>
    </div><!-- end - dg-content-list -->

    <div *ngIf="clients === null"
      class="dg-content-msj">
      <div class="container">
        <p class="dg-msj">
          No hay información de clientes...
        </p>
      </div>
    </div>
  </div><!-- end - dg-page-listapersonas -->
</div><!-- end - content -->
