@import "../component.shared.style";

.dg-content-inputsearch{
  .dg-content{
    background-color: #E3E3E5;
    border-radius: 9px;
    border: none;
    display: block;
    max-width: 80%;
    margin: 0 auto;
    padding: 6px 15px;

    & > *{
      display: inline-block;
    }
    i{
      color: #959595;
    }
    input{
      background-color: transparent;
      border: none;
      color: #7F7F7F;
      margin-left: 9px;
      width: 86%;
    }
  }
}// end - dg-content-inputsearch

.clientes_container {
  min-height: calc(100vh - 180px);
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

.dg-content-list{
  padding-left: 15px;
  padding-right: 15px;

  &.dg-content-listapersonas{
    .dg-col-icon{
      span{
        i{
          color: #3E436B;
          font-size: 2.4em;
        }
      }
    }
  }

  .dg-col-icon{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .row{
    border-bottom: 1px solid #E3E3E3;
    cursor: pointer;
    padding: 1em 0.9em;

    .dg-col-icon{
      text-align: center;
      span{
        background-color: transparent;
        display: inline-block;
        height: 30px;
        width: 30px;
        i {
          color: #FE6C5B !important;
          text-decoration: none;
        }
      }
    }
    .dg-col-name{
      p{
        margin-bottom: 0;
        font-size:1.32em;
      }
      span{
        font-size: 0.9em;
      }
    }

    .dg-icon-arrow{
      font-size: 1.5em;
    }
  }// end - row
}// end - .dg-content-list
