<div class="dg-content dg-content-page">

  <div class="dg-head-back">
        <span (click)="goBackPage()" >
          <i class="fa fa-angle-left"></i>
        </span>
  </div>

  <div class="dg-info-client">
    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label>
          Nombre:
        </label>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <span>
          {{ client.nombre }}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label>
          Dirección:
        </label>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <span>
          {{ client.direccion }}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label>
          Teléfono:
        </label>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <span>
          {{ client.telefono }}
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <label>
          Correo:
        </label>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <span>
          {{ client.email }}
        </span>
      </div>
    </div>
  </div><!-- end - dg-info-client -->

  <div class="dg-content-listproducts">

    <div class="dg-content-msg">
      <p>
        ¡No existen productos relacionados con el cliente!
      </p>
    </div>

    <div class="dg-content-listlotes">
      <div class="row">
        <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
          <div class="dg-col-lote">
            <div>
            <span>
              <i class="fa fa-flag dg-flag-vendido"></i>
            </span>
            </div>
            <div>
              <strong class="dg-title" >Lote 2</strong>
              <span class="dg-info">245 m2</span>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-xs-7 col-md-7 col-lg-7">
          <div class="dg-col-status">
            <div>
              <strong class="dg-title">Vendido</strong>
              <span class="dg-info">$2,379,347.00</span>
            </div>
            <div>
            <span class="dg-content-row">
              <i class="fa fa-angle-right"></i>
            </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
          <div class="dg-col-lote">
            <div>
            <span>
              <i class="fa fa-flag dg-flag-disponible"></i>
            </span>
            </div>
            <div>
              <strong class="dg-title" >Lote 4</strong>
              <span class="dg-info">575 m2</span>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-xs-7 col-md-7 col-lg-7">
          <div class="dg-col-status">
            <div>
              <strong class="dg-title">Disponible</strong>
              <span class="dg-info">$6,903,888.66</span>
            </div>
            <div>
            <span class="dg-content-row">
              <i class="fa fa-angle-right"></i>
            </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
          <div class="dg-col-lote">
            <div>
            <span>
              <i class="fa fa-flag dg-flag-apartado"></i>
            </span>
            </div>
            <div>
              <strong class="dg-title" >Lote 11</strong>
              <span class="dg-info">639 m2</span>
            </div>
          </div>
        </div>
        <div class="col-sm-7 col-xs-7 col-md-7 col-lg-7">
          <div class="dg-col-status">
            <div>
              <strong class="dg-title">Apartado</strong>
              <span class="dg-info">$8,236,191.47</span>
            </div>
            <div>
            <span class="dg-content-row">
              <i class="fa fa-angle-right"></i>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end - dg-content-listlotes -->

  </div><!-- end - dg-content-listproducts -->

</div>
