.dg-content{
  background-color: #FFF;
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}

.dg-info-client{
  background-color: #FFF;
  max-width: 600px;
  margin: 0 auto;
  padding: 2em 0;

  .row{
    padding: 0 2.1em;
    label{
      color: #76828A;
      font-size: 1.2em;
    }
    span{
      color: #919AA0;
      font-size: 1.2em;
    }
  }
}
.dg-head-back{
  padding: 1em;
  span{
    cursor: pointer;
    i{
      color: #325DC0;
      font-size: 2.1em;
    }
  }
}// end - .dg-head-back

/*---*/
.dg-content-page{
  .dg-content-listlotes{
    border-top: solid 2px #C8C8C8;
    margin-top: 2.1em;
    padding-left: 1.8em;
    padding-right: 1.8em;

    .fa-flag{
      &.dg-flag-vendido{
        color: #E30000;
      }
      &.dg-flag-disponible{
        color: #2898E4;
      }
      &.dg-flag-apartado{
        color: #FCC800;
      }
    }// end - fa-flag

    .row{
      border-bottom: solid 1px #CFCFCF;
      cursor: pointer;
    }

    .dg-title{
      color: #727E86;
      display: block;
      font-size: 1.21em;
      padding-top: 1em;
    }
    .dg-info{
      color: #727E86;
      display: block;
      font-size: 1em;
      padding-bottom: 1em;
    }

    .dg-col-lote{
      & > div{
        display: inline-block;
        vertical-align: middle;
        &:nth-of-type(1){
          font-size: 2.1em;
          width: 30%;
        }
        &:nth-of-type(2){
          width: 69%;
        }
      }
    }// end -dg-col-lote
    .dg-col-status{
      border-left: solid 1px #CFCFCF;
      padding-left: 1.5em;
      & > div{
        display: inline-block;
        vertical-align: middle;
        &:nth-of-type(1){
          width: 80%;
        }
        &:nth-of-type(2){
          font-size: 2em;
          width: 19%;
        }
      }
    }// end - dg-col-status
  } // end - dg-content-lotes
} // end - dg-content-page

.dg-content-loading{
}

.dg-content-msg {
  color: #919AA0;
  margin-top: 20%;
  text-align: center;
  p {
    display: inline-block;
    max-width: 300px;
  }
} // end - .dg-content-msg
