<div class="content dg-content-page dg-page-project">

  <div class="dg-page-navbar">
    <button class="btn btn-default pull-left" *ngIf="shouldShowGoBack()" (click)="navegarAnterior()">
      <i class="glyphicon glyphicon-chevron-left"></i>
    </button>
    <ol class="breadcrumb pull-right" *ngIf="obtenerPiladeProyectos().length > 0">
      <li (click)="navegarAlInicio()" class="breadcrumb-item">
        Inicio
      </li>
      <li *ngFor="let project of obtenerPiladeProyectos()"
          class="breadcrumb-item">
        <a (click)="navegarEspecifico(project)">
          {{ project.nombre }}
        </a>
      </li>
    </ol>
  </div><!-- end - dg-page-navbar -->

  <div class="dg-content-bartitle dg-bartitle-1 dg-project-detail" *ngIf="showing_project">
    <div class="">
      <div class="row" style="width: 100%">
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
          <div class="dg-content-icon">
            <span>
              <i class="fa fa-map-marker"></i>
            </span>
          </div>
        </div>
        <div class="col-sm-9 col-xs-9 col-md-9 col-lg-9">
          <div class="dg-content-info">
            <p class="dg-row-text1">
              {{showing_project.nombre}}
            </p>
            <p class="dg-row-text2">
              {{showing_project.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end - dg-content-bartitle dg-bartitle-1 -->


  <div class="dg-content-list dg-content-listprojects">
    <div class="row"
         *ngFor="let proyecto of proyectos"
         (click)="entrarAProyecto(proyecto)">
      <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
        <div class="dg-col-icon">
            <span>
              <i class="fa fa-map-marker"></i>
            </span>
        </div>
      </div>
      <div class="col-sm-9 col-xs-9 col-md-9 col-lg-9">
        <div class="dg-col-name">
          <p>
            {{proyecto.nombre}}
          </p>
          <span>
              {{proyecto.description}}
            </span>
        </div>
      </div>
    </div>
  </div><!-- end - dg-content-list dg-content-listprojects -->

  <div class="dg-content-list dg-content-listlote">
    <div class="row" *ngFor="let producto of productos" (click)="detalleDeProducto(producto)">

      <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
        <div class="dg-col-icon">
          <span>
            <i class="fa fa-flag"></i>
          </span>
        </div>
      </div>
      <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
        <div class="dg-col-name">
          <p>
            {{producto.nombre}}
          </p>
          <span>
            {{producto.descripcion}}
          </span>
        </div>
      </div>
      <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
        <span class="dg-icon-arrow">
          <i class="fa fa-angle-right"></i>
        </span>
      </div>
    </div><!-- end - row -->
  </div><!-- end - dg-content-list dg-content-listlote -->
</div><!-- end - dg-content-page dg-page-project -->
