@media (max-width: 767px) {
  .main-sidebar {
    padding-top: 50px;
  }
}

.main-sidebar {
  min-width: 65px !important;
}

.dg-circle-img {
  margin: 0 auto;
  width: 100%;
  max-width: 45px;
  overflow: hidden;
  text-align: center;
}

.dg-image-circle {
  border-radius: 50%;
}

.dg-profile-picture {
  max-height: 45px;
  transform: translateX(-50%);
  margin-left: 50%;

  /* transform: translateX(-50%);
  margin-left: 50%; */
}
