<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left dg-circle-img dg-image-circle" *ngIf="user">
        <img *ngIf="userExtra && userExtra.profilePictureUrl && userExtra.profilePictureUrl != 'None'"
          [src]="api_url + userExtra.profilePictureUrl" class="dg-profile-picture" alt="User Image">
        <img *ngIf="!userExtra || !userExtra.profilePictureUrl || userExtra.profilePictureUrl == 'None'"
          src="assets/img/imgPhotoProfile.png" class="dg-profile-picture" alt="User Image">
      </div>
      <div class="pull-left info" *ngIf="user">
        <p>{{user.firstName}}</p>
        <p>{{user.lastName}}</p>
        <!-- <a href="/dashboard"><i class="fa fa-circle text-success"></i> Online</a> -->
      </div>
    </div>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">BINVENIDO</li>
      <li routerLink="/perfil" routerLinkActive="active">
        <a class="navbar-link" routerLink="/perfil" routerLinkActive="active">
          <i class="fa fa-user"></i><span>Perfil</span>
        </a>
      </li>
      <li routerLink="/clientes" routerLinkActive="active">
        <a class="navbar-link" routerLink="/clientes" routerLinkActive="active">
          <i class="fa fa-users"></i><span>Cientes</span>
        </a>
      </li>
      <li routerLink="/proyectos" routerLinkActive="active">
        <a class="navbar-link" routerLink="/proyectos" routerLinkActive="active">
          <i class="fa fa-map-marker"></i><span>Proyectos</span>
        </a>
      </li>
      <li routerLink="/productos" routerLinkActive="active">
        <a class="navbar-link" routerLink="/productos" routerLinkActive="active">
          <i class="fa fa-flag"></i><span>Lotes/Casas</span>
        </a>
      </li>
      <!-- <li routerLink="/ventas" routerLinkActive="active">
        <a class="navbar-link" routerLink="/ventas" routerLinkActive="active">
          <i class="fa fa-bar-chart"></i><span>Mis Ventas</span>
        </a>
      </li> -->
      <hr>
      <li>
        <a class="navbar-btn" (click)="logout()">
          <i class="fa fa-power-off"></i><span>Salir</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
