.content {
  background-color: #FFF;
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: scroll;

  .dg-content-box{
    /* margin: 0 auto;
    width: 90%; */

    .profile-username,
    .text-muted{
      overflow: hidden;
    }
  }

  .box{
    box-shadow: none;
    &.box-primary{
      border-top-color: transparent;
    }
  }// end - box

  .dg-content-form{
    /* padding: 1.5em 1.5em; */
    input{
      background-color: #EEEEEF;
      border: none;
      border-radius: 15px;
      display: inline-block;
      /* padding: 1em 1.5em; */
      width: 80%;

      &[ng-reflect-is-disabled="true"]{
        background-color: transparent;
        border: none;
        color: rgba(0,0,0,0.8);
        padding-bottom: 0px;
      }
    }
    .dg-control{
      margin-bottom: 9px;

      &.dg-control-date{
        magin-top: 1.5em;
        label{
          color: #818181;
          display: inline-block;
          font-weight: normal;
          margin-top: 1em;
          margin-left: 1em;
          max-width: 19%;
        }
        input{
          color: #6E6E6E;
          display: inline-block;
          width: 50%;
        }
        i{
          display: inline-block;
          font-size: 2em;
          margin-left: 0.81em;
        }
      }

    }
  }// end - .dg-content-form

  .dg-profile-form-label {
    width: 70px;
  }

  .dg-content-btn{
    text-align: center;
  }

  .btn-app{
    &:hover{
      font-weight: bold;
      .fa-edit{
      }
    }
  }

  .dg-profile-navigation-bar {
    min-height: 50px;
    max-height: 50px;
    width: inherit;
    position: relative;
    a {
      color: #FE6C5B !important;
    }
  }

  .list-group-item {
    border: 0px;
    border-bottom: 1px solid #ddd;
  }

  .dg-circle-img {
    margin: 0 auto;
    width: 100px;
    overflow: hidden;
    text-align: center;
  }

  .dg-image-circle {
    border-radius: 50%;
  }

  .dg-profile-picture {
    max-height: 100px;
    transform: translateX(-50%);
    margin-left: 50%;
  }

}// end - .content
