.dg-powered-label {
  margin-top: 10px;
  margin-right: 10px;
  a {
    color: #FE6C5B !important;
  }
}

.main-footer {
  min-height: 50px;
  max-height: 50px;
  padding: 5px;

  .dg-btn-button{
    color: #FE6C5B !important;
    vertical-align: middle;
    text-align: center;
    &.active{
      color: #222d32;
    }
    i{
      display: block;
      font-size: 1.2em;
    }

  } // end - .dg-btn-button

}
